:root
{
	--cbs-color-accentH: #1d86b1;
	--cbs-color-accentR: 29,134, 177;
	
	--cbs-border-accent: 3px double rgba(0,0,0,.3);
	
	/*https://css-tricks.com/books/volume-i/scale-typography-screen-size/*/
	/* --- font-size --*/
	--cbs-font-size-site-name: calc(29px + (35 - 29) * ((100vw - 300px) / (1600 - 300)));	/*22pt*/
	--cbs-font-size-marker-title: calc(26px + (32 - 26) * ((100vw - 300px) / (1600 - 300)));	/*20pt*/
	--cbs-font-size-normal: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));	/*12pt*/
	--cbs-font-size-site-tagline: calc(13px + (19 - 13) * ((100vw - 300px) / (1600 - 300))); /*10pt*/
	--cbs-font-size-the-fine-print: calc(11px + (17 - 11) * ((100vw - 300px) / (1600 - 300)));	/*8pt*/
	/* --- line-height --*/
	--cbs-line-height-site-name: calc(31px + (37 - 31) * ((100vw - 300px)/(1600 - 300)));
	--cbs-line-height-marker-title: calc(28px + (34 - 28) * ((100vw - 300px) / (1600 - 300)));
	--cbs-line-height-normal: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
	--cbs-line-height-site-tagline: calc(15px + (21 - 15) * ((100vw - 300px) / (1600 - 300)));
	--cbs-line-height-the-fine-print: calc(13px + (19 - 13) * ((100vw - 300px) / (1600 - 300)));
}

html, body 
{
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: var(--cbs-font-size-normal);
	line-height: var(--cbs-line-height-normal);
}

li
{
	padding: 5px 0px 5px 0px;
}

a, a:visited, a:hover, a:active
{
  color: rgba(var(--cbs-color-accentR),.8);
  font-weight: bold;
  text-decoration: none;
}

input[type='checkbox'] 
{
  float: left;
  width: 20px;
}
input[type='checkbox'] + label 
{
  display: block;
  white-space: nowrap;
  width: 100px;
}

#panels
{
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#mapPanel
{
  height: 100%;
}

#sidePanel
{
	background-color: rgba(243,243,243,.3);
	box-shadow: inset 7px 0 9px -7px rgba(0,0,0,.3);
	padding: 0px;
	padding-right: 15px;
	margin: 0px;
	overflow: auto;
}

.siteInfoContainer, #markerInfoContainer, .backmatterContainer, #instructionsContainer, .markerShelfIcons, .markerQuickFacts, .filterOption
{
	display: table;
	width: 100%;
	border-bottom:  1px solid rgba(0,0,0,.3);
}

.panelCloseButton, .siteIcon, .siteInfo, .sidePanelCloseButton, .markerIcon, .markerTitle, .markerPlanWithFurkot, .markerShelfIcon, .markerQuickFactLabel, .markerQuickFactData, .filterIcon, .filterText
{
	display: table-cell;
	padding: 3px;
	align-self: center;
	justify-self: center;
}

.siteInfoContainer
{	
	display: grid;
	grid-template-columns: 125px 1fr 50px;
	padding-top: 3px;
	border-bottom: var(--cbs-border-accent);
	color: rgba(var(--cbs-color-accentR),.5);
	text-align: center;
}

.siteName
{
	font-weight: bold;
	font-size: var(--cbs-font-size-site-name);
	line-height: var(--cbs-line-height-site-name);
}

.siteTagline
{
	font-style: italic;
	font-size: var(--cbs-font-size-site-tagline);
	line-height: var(--cbs-line-height-site-tagline);
}

.markerHeader
{
	display: grid;
	grid-template-columns: 47px 1fr 100px;
	padding-top: 5px;
	border-bottom: var(--cbs-border-accent);
	font-weight: bold;
	background-color: rgba(204,204,204,.3);
}

.markerTitle
{
	font-size: var(--cbs-font-size-marker-title);
	line-height: var(--cbs-line-height-marker-title);
}

.markerShelfIcon
{
	text-align: center;
}

#markerData
{
	border-bottom: var(--cbs-border-accent);
}

.markerQuickFactLabel
{
	font-style: italic;
	text-align: left;
}

.markerQuickFactData
{
	text-align: left;
}

.markerNotes
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#markerInfoContainer
{
	display: none;
}

.markerQuickFact
{
	display: table-row;
	margin: 3px;
}

.markerPlanWithFurkot
{
	text-align: right;
}

.instructionsText, .siteIcon, .markerIcon, .markerQuickFactLabel, .markerNotes
{
	padding-left: 15px;
}

.backmatterContainer
{
	padding-top: 15px;
	border: none;
	text-align: center;
	font-size: var(--cbs-font-size-the-fine-print);
	line-height: var(--cbs-line-height-the-fine-print);
}

.toggleInstructionsText
{
	cursor: pointer;
}

.isVisible
{
	display: block !important;
}

.isNotVisible
{
	display: none !important;
}

.instructionsText
{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: var(--cbs-font-size-the-fine-print);
	line-height: var(--cbs-line-height-the-fine-print);
}

#svgIcon
{
	width: 100%;
	text-align: center;
}

.weatherCurrent
{
	font-size: 15px;
	line-height: 17px;
}

.weatherTemps table
{
	width: 100%;
}

.weatherTemps th, 
.weatherTemps td
{
	text-align: center;
	font-size: 13px;
	line-height: 15px;
	padding: 0px;
}

.weatherTemps th
{
	background-color: #f9f9f9;
}

.weatherSun
{
	font-size: 15px;
	line-height: 17px;
}

.quotes
{	
	font-size: var(--cbs-font-size-the-fine-print);
	line-height: var(--cbs-line-height-the-fine-print);
	padding: 5px;
	margin-right: 10px;
}

.quoteText
{
	padding-bottom: 5px;
	padding-top: 5px;
}

.quoteText::before
{
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    color: #9A1F32 ;
    margin-right: .5em;
	font-weight: 900;
}

.quoteAttribution
{
	font-style: italic;
}

.quoteAttribution::before
{
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    color: #CCCCCC ;
    margin-left: .5em;
    margin-right: .3em;
	font-weight: 900;
}

.filterOption
{
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #eaeaea;
}

.filterIcon
{
	width: 25px;
}

.filterIcon img
{
	width: 25px;
}

.filterText
{
	font-size: var(--cbs-font-size-the-fine-print);
	line-height: var(--cbs-line-height-the-fine-print);
	text-align: left;
}

/* GOOGLE MAP CUSTOM CONTROLS */

.disabled
{
	color: #CCCCCC;
}

.visited
{
	color: green;
} 

[class^="control-"]
{  
	display: flex;
	align-items: center;
	background-color: #fff;
	border: 2px solid #fff;
	/*border-radius: 3px;*/
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	cursor: pointer;
	font-size: large;
}

#currentLocationInfoContainer
{
	display: grid;
	grid-template-columns: 35px 1fr;
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	cursor: pointer;
	width: 100%;
	min-height: 29px;
	margin-left: 10px;
	margin-bottom: 3px;
	padding: 5px;
	font-size: larger;
	text-align: left;
	color: #9c9c9c;
	background: rgba(255,255,255, 0.7);
}

.control-text
{  
  color: rgb(25,25,25);
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
}

.control-traffic
{	
	margin-top: 10px;
	margin-left: 10px;
	text-align: left;
	padding: 10px 15px 10px 15px;
}

.control-filter
{
	margin-left: 10px;
	margin-bottom: 3px;
	text-align: left;	
	vertical-align: middle;
	padding: 0px;
}

.controlActive
{
	background: rgba(0,128,0, 0.7);
	color: rgba(255,255,255, 0.8);
}

.controlInactive
{
	background: rgba(255,255,255, 0.5);
	color: #CCCCCC;
}

.control-test, .control-clustering
{
	border: none;
	margin-left: 10px;
	margin-bottom: 3px;
	text-align: center;	
	padding: 6px 8px 8px 8px;
	height: 25px;
}

.control-clustering img
{
	width: 22px;
}

/*FURKOT INTEGRATION */

[class^="ff-icon-"]
{
	color: black;
	border: 1px solid #CCCCCC;
	font-size: 30px;
}

.ff-icon-furkot, .ff-icon-furkot a 
{
	color: black;
	border: 1px solid CCCCCC;
	background-color: green; /* For browsers that do not support gradients */
	background-image: linear-gradient(green, white); /* Standard syntax (must be last) */
}

.furkot-widget-done::before {
    display: inline-block;
    color: white;
    background: black;
    cursor: pointer;
    padding: .5em;
    border: none;
    font-size: 16px;
    text-decoration: none;
}
.furkot-widget-done {
    visibility: hidden;
    cursor: pointer;
}
.furkot-widget-done.furkot-widget-active::before {
    content: 'x';
    position: absolute;
    left: 50%;
    margin-left: 136px;
    top: 50%;
    margin-top: -216px;
    visibility: visible;
    border: white solid 1px;
    -moz-border-radius: 15px;
    border-radius: 16px;
    height: 8px;
    line-height: 6px;
}
.furkot-widget.furkot-widget-active {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    z-index: 500;
}
.furkot-widget-inactive iframe {
    width: 0;
    height: 0;
}
.furkot-widget-active iframe {
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    height: 400px;
    top: 50%;
    margin-top: -200px;
}